<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/img/icone.jpg" type="image/x-icon">
    <title>Burguer</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script src="public/js/script.js"></script>
    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        const fire_toast = message => Toast.fire({
            icon: "success",
            title: message
        });

        // Fazendo a requisição à API usando AJAX method GET
        $(document).ready(function(){
            const host = 'http://192.168.0.201:3001'

            $.ajax({
                url:`${host}/api/v1.0/burgers`,
                method: 'GET',
                headers:{"Authorization": "123"},
                success:function(data, status){
                    const lanches = Object.keys(data)
                    // console.log(lanches)
                    lanches.forEach(lanche_name => {
                        const { image, ingredients } = data[lanche_name]
                        const id = `${lanche_name.replace(' ', '_')}-price`

                    // adicionando as informações no card e depois dentro do caroussel
                        $('#carousel').append(`
                            <article onClick="fire_toast('${lanche_name} adicionado no carrinho')">
                                <h3>${lanche_name}</h3>
                                <img src="${host}${image}">
                                <p>Ingredients: "${ingredients}"</p>
                                <p id="${id}"></p>
                            </article> 
                        `);
                    // Fazendo a requisição à API usando AJAX, method POST
                        $.ajax({
                            url:`${host}/api/v1.0/calculate`,
                            headers:{"Authorization": "123"},
                            data: {name: lanche_name},
                            method: 'POST',
                            success: response => $(`#${id}`).text(`Apartir de R$ ${response.originalPrice}0`),
                            error: error => console.error(error)
                        })

                    })
            }});

            

            /*Swal.fire({
                title: "Gostaria de adicionar mais algum ingrediente?",
                icon: "question",
                width: '60%',
                html: `
                    <ol>
                        <li>Alface</li>
                    </ol>
                `,
                showCloseButton: true,
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText: `
                    <i class="fa fa-thumbs-up"></i> Great!
                `,
                confirmButtonAriaLabel: "Thumbs up, great!",
                cancelButtonText: `
                    <i class="fa fa-thumbs-down"></i>
                `,
                cancelButtonAriaLabel: "Thumbs down"
            }); */
        });
        </script>
</head>
<body>
    <nav class="navbar" id="menu-fixed">
        <i class="material-symbols-outlined" id="menu_collapse">menu</i>
        <a href="/">
            <i class="material-symbols-outlined">menu_book</i>
            <span class="menu_name">Cardapio</span>
            
        </a>
        <a href="diy">
            <i class="material-symbols-outlined">restaurant_menu</i>
            <span class="menu_name">Monte você mesmo</span>
        </a>
        <a href="carrinho">
            <i class="material-symbols-outlined">shopping_cart</i>
            <span class="menu_name">Carrinho</span>
        </a>
    </nav>
    <header>
        <h1>Burguer</h1>
    </header>

    

    <main>
        <h2>Escolha seu lanche</h2>
        <section id="carousel">
            
        </section>
        
    </main>

    <footer>

    </footer>
</body>
</html>