 @charset "UTF-8";



section#carrinho{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 2px;
    background-color: rgb(167, 12, 0);
    flex: 1;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.582);
}

h3 {
    text-align: center;
    font-size: 1.8em;
}

#titulo_carrinho {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
img {
    width: 120px;
    height: 120px;
}

p {
    display: inline;
    padding-right: 30px;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 20px;
}

#icone {
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.3);
    }

}

#vazio {
    margin-top: 20px;
    color: black;
    font-weight: bolder;
    font-size: 5em;
}

#total {
    padding: 10px 15px;
    margin-top: 2px;
    background-color: rgb(167, 12, 0);
    flex: 1;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.582);
    cursor: pointer;
}