section#carousel {
    padding-top: 40px;
    padding-left: 170px;
    padding-bottom: 40px;
    padding-right: 150px;
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
}

img {
    width: 250px;
    height: 250px;
}

article {
    transition: transform 0.3s ease-in-out;
    padding-top: 30px;
}

article>p {
    width: 300px;
    word-wrap: break-word;
}

article:hover {
    transform: scale(1.1);
}